body {
  background-color: #262626;
}

img {
  height: 100%;
  width: 100%;
}

.galleryContainer1 {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
}

.galleryContainer2 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
}

.galleryContainer2 div {
  height: 218px;
  width: 383px;
  overflow: hidden;
}

#galleryBigImage {
  overflow: hidden;
  flex: 1 1 80em;
}

.galleryImage:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.galleryImage {
  transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
    transition-property: -ms-transform, -webkit-transform, transform, opacity !important;
    transition-duration: 450ms, 450ms, 450ms, 450ms !important;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    transition-delay: 0s, 0s, 0s, 0s !important;
}

.carouselContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
}

.carouselMainImage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carouselMainImage img {
  width: auto;
  max-width: 600px;
  height: auto;
}

.carouselImageList {
  display: flex;
  justify-content: center;
}

.carouselImageList div {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.carouselCaptionDrop {
  /* padding-top: 40px; */
  transform: translateY(67px);
      transition: -ms-transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s, transform 0.2s ease-out 0s !important;
}

.carouselCaptionUp {
    transform: translateY(0px);
      transition: -ms-transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s, transform 0.2s ease-out 0s !important;
}

.closeX {
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 2;
}

#carouselExitButton button {
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  border: 0px solid black;
}

#carouselMainBelow {
  width: 600px;
  padding-left: 408px;
}

#carouselRow {
  display: table-row;
}

#carouselExitButton {
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
}

#carouselCaptionVerified {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 300px;
}

#carouselMainCaption {
  display: table-cell;
  color: white;
  text-align: left;
}

#carouselMainVerified {
  color: #747474;
  font-style: italic;
  display: table-row;
  text-align: left;
}

#togglePhoto {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  width: 300px;
}

#togglePhotoButton {
  color: white;
  background-color: transparent;
  font: 11px;
  border: 0px;
}

.galleryImageHover {
  opacity: .7;
}