body {
  background-color: #262626;
}

img {
  height: 100%;
  width: 100%;
}

.gallery-container-1 {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
}

.gallery-container-2 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
}

.gallery-container-2 div {
  height: 218px;
  width: 383px;
  overflow: hidden;
}

#gallery-big-image {
  overflow: hidden;
  flex: 1 1 80em;
}

.gallery-image:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-main-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-main-image img {
  width: auto;
  max-width: 600px;
  height: auto;
}

.carousel-image-list {
  display: flex;
  justify-content: center;
}

.carousel-image-list div {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.close-x {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 2;
}

button {
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  border: 0px solid black;
}

#carousel-exit-button {
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
}